.itemCount{
    display: flex;
    justify-content: center;
    padding-right: 5%;
    align-items: center;
    list-style-type: none;
    background-color: rgb(5, 5, 32);
    color: rgb(0, 255, 191);
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid yellow;
}

p{
    padding: 20px;
    font-size: xx-large;
}